<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header flex-column">
        <div class="logo-container">
            <img src="/images/CDI_logo.png" alt="College CDI Logo" class="logo">
        </div>
        <br><br>
        <div class="title-container">
            <div class="title">Welcome to the CDI Registration Management System</div>
        </div>
    </div>
    
    <div class="button-row">
        <a href="/register-program" class="button-container">Register Program</a>
        <a href="/register-course" class="button-container">Register Course</a>
        <a href="/register-student" class="button-container">Register Student</a>
        <a href="/assign-grades" class="button-container">Assign Grades</a>
    </div>

</body>
</html>
