<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Registration</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="header flex-column">
        <div class="logo-container">
            <img src="/images/CDI_logo.png" alt="College CDI Logo" class="logo">
        </div>
    </div>
    <div class="form-container">
        <div class="title-container">
            <div class="title">Course Registration</div>
        </div>
        <form action="/register-course" method="post">
            <label for="programCode" class="bold-label">Select Program:</label>
            <select id="programCode" name="programCode">
                <% programs.forEach(program => { %>
                    <option value="<%= program.programCode %>"><%= program.programCode %></option>
                <% }); %>
            </select>
            <br><br>
            <label for="courseCode" class="bold-label">Course Code:</label>
            <input type="text" id="courseCode" name="courseCode" placeholder="Please, type the Course Code" required>
            <br><br>
            <label for="courseDuration" class="bold-label">Course Duration (hours):</label>
            <input type="number" id="courseDuration" name="courseDuration" placeholder="Enter the Course Duration (hours)" required>
            <br><br>
            <label for="englishDescription" class="bold-label">Course Title:</label>
            <br><br>
            <div class="flag-label">
                <img src="/images/usa.png" alt="USA Flag" class="flag-icon">
                <span class="flag-text description-label">Course Title in English:</span>
            </div>
            <input type="text" id="englishDescription" name="englishDescription" placeholder="Please, type the course name in English" required></textarea>
            <br><br>
            <label for="frenchDescription" class="description-label flag-label">
                <img src="/images/french.png" alt="France Flag" class="flag-icon">
                <span class="flag-text">Titre du Cours en Français:</span>
            </label>
            <input type="text" id="frenchDescription" name="frenchDescription" placeholder="Please, type the course name in French" required></textarea>
            <br>
            <button type="submit" class="register-button">Register Course</button>
        </form>
    </div>
    <div class="success-message <% if (registrationSuccess) { %>show<% } %>">
        Course Registered Successfully!
    </div>
    <script>
        function hideSuccessMessage() {
            var successMessage = document.querySelector('.success-message');
            if (successMessage) {
                setTimeout(function () {
                    successMessage.style.display = 'none';
                }, 2000); // Hide after 2 sec (2000 ms)
            }
        }

        // call hide function
        hideSuccessMessage();
    </script>
</body>
</html>